*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(222, 222, 222);
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
}

.navbar {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navbar .logo {
    height: 100%;
    width: 50%;
    margin: auto;
}

.navbar a img{
    height: 100%;
    width: 150px;
    margin: auto 5rem;
}

.navbar ul {
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    margin-right: 5rem;
}

.navbar li {
    padding: 20px;
}

.navbar li a {
    font-weight: bold;
    text-decoration: none;
    font-size: large;
    color: red;
}

.home {
    height: 100vh;
    min-width: 100vw;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
}

.left-side {
    width: 40%;
    height: 100%;
    background-image: url('./images/leaves.png');
    background-size: 70% 60%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
}

.left-side .inspired-con {
    margin: auto;
    height: 30%;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.4);
    display: flex;
}

.left-side .inspired-con .message {
    background-color: rgba(248, 248, 248, 0.9);
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.message h1 {
    font-family: Brush Script MT, Brush Script Std, cursive;
    letter-spacing: 2px;
    font-weight: 100;
    font-size: 50px;
    color: red;
    text-align: center;
    margin-bottom: 20px;
}

.message p {
    text-align: justify;
    line-height: 30px;
    font-weight: bolder;
    font-size: 25px;
    margin: auto;
    margin-bottom: 5px;
}

.message span {
    text-align: center;
    line-height: 30px;
    font-weight: bolder;
    font-size: 25px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message span img {
    height: 20%;
    width: 20%;
    display: inline-block;
}

.right-side {
    width: 60%;
    height: 100%;
    background-image: url('https://images.unsplash.com/photo-1528712306091-ed0763094c98?auto=format&fit=crop&q=80&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&w=1940');
    background-position: center;
    background-size: cover;
}

.breakfast-home {
    min-height: 100vh;
    width: 80%;
    margin: auto;
}

.breakfast-home .back-div {
    padding: 20px;
    position: relative;
    height: 10%;
}

.breakfast-home .back-div a {
    text-decoration: none;
    color: red;
    font-size: larger;
}

.breakfast-home .bfast-container {
    margin: auto;
    height: 90vh;
    width: 90%;
    display: flex;
    flex-direction: column;
}

.breakfast-home .bfast-container .header {
    display: flex;
    align-items: center;
}

.breakfast-home .bfast-container .header .recipes {
    width: 25%;
}

.breakfast-home .bfast-container .header label{
    font-size: xx-large;
    font-weight: 100;
    font-style: italic;
    color: rgb(108, 108, 108);
}

.breakfast-home .bfast-container .header input[type="text"]{
    font-size: xx-large;
    font-weight: 100;
    font-style: italic;
    color: rgb(110, 110, 110);
    padding: 10px;
    background: none;
    border: none;
    width: 50%;
}
textarea:focus, input:focus{
    outline: none;
}

.breakfast-home .bfast-container .header .region {
    width: 40%;
    display: flex;
    align-items: center;
    gap: 20px;
}
select#region {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    appearance: none;
    text-align: center;
    font-size: large;
    color: rgb(118, 118, 118);
}

select#region option {
    padding: 10px;
    text-align: center;
}

.recipe-cards {
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.recipe-cards .card-body {
    width: 45%;
    height: 45%;
    border: 1px solid red;
    display: flex;
    background-color: rgb(230, 230, 230);
}

.rec-image {
    width: 50%;
    height: 100%;
    display: flex;
}

.rec-image a {
    width: 90%;
    height: 90%;
    margin: auto;
}

.rec-image img {
    width: 90%;
    height: 90%;
    margin: auto;
    border-radius: 200px;
}

.content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
}

.content h1 {
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: 100;
    margin: 20px 0;
    text-align: center;
}

.content p {
    width: 80%;
    text-align: center;
    color: gray;
    font-size: 20px;
    margin: 0 auto;
    letter-spacing: 2px;
}

.content span {
    width: 80%;
    text-align: center;
    color: gray;
    font-size: 15px;
    margin: auto;
    letter-spacing: 2px;
}

.prep {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: auto;
}

.prep span {
    width: 50%;
    text-align: center;
    color: black;
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: bold;
}

.omelette-home {
    min-height: 100vh;
    width: 80%;
    margin: auto;
}

.omelette-home .back-div {
    padding: 20px;
    position: relative;
    height: 10%;
}

.omelette-home .back-div a {
    text-decoration: none;
    color: red;
    font-size: larger;
}

.omelette-home .lang {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    height: 10%;
    width: 95%;
}

.omelette-home .lang button {
    height: 10%;
    width: 30%;
    text-align: center;
}

.delicacy {
    width: 90%;
    height: 90vh;
    display: flex;
    flex-direction: column;

}

#American {
    background-color: red;
    font-size: 20px;
    border: none;
    padding: 0 5px;
    color: white;
    font-style: italic;
    font-family: sans-serif;
    font-weight: bold;
}

#French {
    background: none;
    font-size: 20px;
    border: none;
    font-style: italic;
    font-family: sans-serif;
    font-weight: bold;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}
.omelette-home .recipe-cards {
    width: 100%;
    height: 75%;
}

.omelette-home .recipe-cards .card-body{
    width: 100%;
    border: none;
    height: 100%;
    background-color: rgb(222, 222, 222);
    margin: auto;
    justify-content: space-between;
}
.omelette-home .recipe-cards .card-body .content {
    width: 70%;
}
.omelette-home .recipe-cards .card-body .rec-image {
    width: 30%;
    height: 80%;
    margin: auto;
}
.omelette-home .recipe-cards .card-body .rec-image a{
    width: 100%;
    height: 80%;
}
.omelette-home .recipe-cards .card-body .rec-image a img {
    border-radius: 0;
}
.omelette-home .delicacy .recipe-cards .card-body .content p {
    color: black;
    font-size: 30px;
    text-align: left;
    margin: 50px 0;
}

.others {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.choice {
    padding: 10px;
    width: 20%;
    font-size: 30px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid red;
    letter-spacing: 10px;
    cursor: pointer;
    font-family: Brush Script MT, Brush Script Std, cursive;
}